span.badge {
	margin-left:15px;
}

form.search input[type=button] {
	padding:6px 10px;
}

input.form-control {
	max-width:none;
}

table.table th:nth-child(n+2) {
	width:30px;
}

@media (min-width:300px) {
	form.search {
		float:right;
		margin-top:-45px;
	}
}
