ul.friends li input {
	margin-right:15px;
}

input.form-control, select.form-control {
	max-width:none;
}

span.remove {
	float:right;
	cursor:pointer;
	color:#337ab7;
	padding-top:3px;
}

input.remove {
	float:right;
}

.strike {
	text-decoration:line-through;
	color:#a0a0a0;
}
