input.form-control, select.form-control {
	max-width:none;
}

div.add span * {
	height:34px;
	font-size:22px;
	padding-top:0;
}

div#loading {
	margin-top:15px;
}

ul.list {
	margin-top:10px;
}

ul.list li {
	padding-left:50px;
}

ul.list li input {
	margin:0 15px 0 -30px;
}

ul.list div.edit {
	float:right;
	margin-left:10px;
}

ul.list div.edit span {
	margin-left:15px;
}

ul.list li.marked {
	text-decoration:line-through;
	color:#a0a0a0;
}

ul.list span.section {
	color:#6999cb;
}
ul.list span.section:before {
	content:"[";
	margin-right:2px;
}
ul.list span.section:after {
	content:"]";
	margin-left:2px;
}
